In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.read_csv('enviro_data.csv', names=['DTG', 'temp', 'humidity', 'baro_pressure', 'co_2', 'tvoc', 'uv_raw', 
                                           'amb_raw', 'uv_idx', 'lux','violet', 'indigo', 'blue', 'cyan', 'green', 
                                           'yellow', 'orange', 'red', 'loc_class'])

In [3]:
df.head()

,DTG,temp,humidity,baro_pressure,co_2,tvoc,uv_raw,amb_raw,uv_idx,lux,violet,indigo,blue,cyan,green,yellow,orange,red,loc_class
0,2021-08-04 10:57:52,28.568,42.925,1020.728,400,0,98,59186,4.090,47338.4,65535,65535,65535,65535,65535,65535,65535,65535,blue
1,2021-08-04 10:57:54,28.612,42.682,1020.742,400,0,99,59865,4.132,47916.8,65535,65535,65535,65535,65535,65535,65535,65535,blue
2,2021-08-04 10:57:56,28.619,42.151,1020.720,400,0,99,60124,4.216,48069.6,65535,65535,65535,65535,65535,65535,65535,65535,blue
3,2021-08-04 10:57:58,28.595,41.746,1020.713,400,0,99,59416,4.090,46434.4,65535,65535,65535,65535,65535,65535,65535,65535,blue
4,2021-08-04 10:58:00,28.629,41.451,1020.549,400,0,54,27978,2.254,23488.8,56330,65535,65535,65535,65535,65535,65535,65535,blue

In [4]:
one_hot_encoder = OneHotEncoder(sparse=False)
one_hot_encoder.fit(df)

OneHotEncoder(sparse=False)

In [5]:
df_e = one_hot_encoder.transform(df)
df_e = pd.DataFrame(data=df_e, columns=one_hot_encoder.categories_)

ValueError: all arrays must be same length